<html>
    <head>

    </head>
    <body>
        <header class="header-6">
            <div class="branding">
                <a href="https://www.dell.com/en-in" class="nav-link nav-icon" aria-label="settings">
                    <img src="/assets/dell-Logo.png">
                 </a>
            </div>
            <div class="header-nav">
                <a href="" class="active nav-link nav-text">Dashboard</a>
                <a href="/create-inventory" class="nav-link nav-text">ADD</a>
                <a href="/search-inventory" class="nav-link nav-text">SEARCH</a>
            </div>
           
        </header>
     
<div class="container">
<router-outlet></router-outlet>
</div>
    </body>



</html>
